{% extends 'layout.html' %}

{% block title %}User{% endblock %}

{% block content %}
<a href='{% url "users:logout" %}'>Logout</a>
<form action='{% url "users:update_info" %}' method='post'>
  {% csrf_token %}
  Email:--------------- <input type='text' name='email' value='{{user.email}}'>
  <br>
  First Name:--------- <input type='text' name='first_name' value='{{user.first_name}}'>
  <br>
  Last Name:--------- <input type='text' name='last_name' value='{{user.last_name}}'>
  <br>
  Birth Date: <input type = 'date'  name='birth_date' value='{{user.birth_date|date:"Y-m-d"}}'max='{{request.session.restrictday}}'>
  <input type='submit' name='button' value='Update'>
</form>
{% if user.admin %}
  <a href='{% url "items:create_deal" %}'>Add a Deal</a>
{% endif %}
<br>
List items user has posted in the discussion for:
<br>
<h1>Purchase History</h1>
<table class = "table table-striped">
      <col width="10%">
        <thead>
            <tr>
              <th></th>
              <th align="middle">Item</th>
              <th align="middle">Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in purchased_items %}
            <tr>
            {% load static %}
              <td><a href="{% url 'items:item' id=item.item.id %}"><img src="{{item.item.image}}" alt="{{item.item.name}}" align="middle" width="140" height="70"></a></td>
              <td><a href="{% url 'items:item' id=item.item.id %}">{{item.item.name}}</a></td>
              <td>${{item.item.price}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock %}
