{% extends 'layout.html' %}

{% block title %}Browse{% endblock %}

{% load staticfiles %}

{% block content %}
  {% if category == 'all' %}
    <h1 class='categoryHeader'>{{ category.capitalize }} Items</h1>
  {% else %}
    <h1 class='categoryHeader'>{{ category.capitalize }}</h1>
  {% endif %}
  {% for item in items %}
    <div class='itemWrap col-xs-12 col-sm-6 col-md-4 col-lg-3'>
      <a href='{% url 'items:item' id=item.id %}'>
        <div class="item panel panel-default">
          <div class="panel-heading">{{item.name}}</div>
          <div class="panel-body">
            <img height=195px width=195px src='{{item.image}}'>
            <p>${{item.price}}</p>
          </div>
        </div>
      </a>
      {% if 'id' in request.session %}
        {% if item.amount_left > 0 %}
          <span class='item_id'>{{ item.id }}</span>
          <button class='cartButton btn btn-success' type="button">+</button>
          <span class='added'></span>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
  {% if is_paginated %}
    <div class="pagination">
      <div class="page-links">
        {% for page in page_obj.paginator.page_range %}
          {% if forloop.counter != 1 %} | {% endif %}
          <a href="{% url 'items:browse' category=category %}?page={{ page }}">{{ page }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    $('.cartButton').click(function(){
      $(this).attr("disabled", true);
      var item_id = $(this).siblings('.item_id').text()
      $.ajax({
        url: '/add_cart/' + item_id,
        type: 'POST',
        data: {'quantity': 1, csrfmiddlewaretoken: csrftoken},
        context: this,
        success: function(data){
          $(this).siblings('.added').text('+1').fadeIn('slow');
          $(this).attr("disabled", false);
          setTimeout(function(){
            $('.added').fadeOut();
          }, 1000);
        }
      })
    })
  </script>
{% endblock %}
