{% extends 'layout.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<h1>{{request.session.name}}'s Cart</h1>
{% if cart_items %}
	<div class="row">
		<table class = "table table-striped">
 			<thead>
  			<tr>
     			<th class='headerImage'></th>
     			<th align="middle">Item</th>
     			<th align="middle">Price</th>
          <th align="middle">Quanity</th>
     			<th align="middle">Remove</th>
  			</tr>
 			</thead>
 			<tbody>
 			{% for i in cart_items %}
  			<tr>
  			{% load static %}
     			<td class='cellPic'><a href="/item/{{i.item.id}}"><img class='img-thumbnail tablePics'src="{{i.image}}" alt="{{i.name}}" align="middle"></a></td>
     			<td><a href="item/{{i.item.id}}">{{i.item.name}}</a></td>
     			<td>${{i.item.price}}</td>
              <td>2</td>
     			<td class='trash'><a href="remove_cart/{{i.id}}"><span class="glyphicon glyphicon-trash" style="color: red; font-size: 2em;"></span></a></td>
  			</tr>
  		{% endfor %}
  			<tr>
  				<td></td>
  				<td align="right" style="font-size: 1.5em;">Total</td>
  				<td style="font-size: 1.5em;">${{sum_total}}</td>
  				<td></td>
  			</tr>
 			</tbody>
		</table>
	</div>
	<form method="post">
		{% csrf_token %}
		{% for field in form %}
			<div>{{ field.label_tag }} {{ field }}</div>
			{% if field.errors %}
			<div class="error">{{ field.errors }}</div>
			{% endif %}
		{% endfor %}
		{% if form.non_field_errors %}
		<div class="error">
			<ul>
				{% for err in form.non_field_errors %}
					<li>{{ err }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<button class='btn btn-success' type="submit" name="button">Purchase</button>
	</form>
</div>
{% else %}
<p>There are no items in your cart at this moment.</p>
{% for message in messages %}
	<p class='{{ message.tags }}'>{{message}}</p>
{% endfor %}
{% endif %}
{% endblock %}
