{% extends 'layout.html' %}

{% block title %}Create Deal{% endblock %}

{% block content %}
<h1>Add an Item</h1>
<form action='{% url "items:add_item" %}' method='post' enctype="multipart/form-data">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
      <div class="col-10">
        <label>{{ field.label_tag }}</label>
        {{ field }}
      </div>
    </div>
    {% if field.errors %}
      <div class="error">{{ field.errors }}</div>
    {% endif %}
  {% endfor %}
  {% if form.non_field_errors %}
  <div class="error">
    <ul>
      {% for err in form.non_field_errors %}
        <li>{{ err }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="submit">
    <button class='btn btn-success' type="submit">Submit</button>
  </div>
</form>
{% endblock %}
