{% extends 'layout.html' %}

{% block title %}Create Deal{% endblock %}

{% block content %}
<form action='{% url 'items:add_item' %}' method='post' enctype="multipart/form-data">
  {% csrf_token %}
  Item Name:-------<input type='text' name='name'>
  <br>
  Item Description:<textarea name='description'></textarea>
  <br>
  Price:--------------<input type='text' name='price'>
  <br>
  Amount to sell:--<input type='text' name='units'>
  <br>
  Category:---------<select name='category'>
    {% for item in items %}
      <option value="{{item}}">{{item}}</option>
    {% endfor %}
  </select>
  <br>
  Image:-------------<input type='file' name='image'>
  <br>
  <input type='submit' name='button' value='Add Item'>
</form>
{% endblock %}
