{% extends 'layout.html' %}

{% block title %}Create Deal{% endblock %}

{% block content %}
<h1>Add an Item</h1>
<form action='{% url "items:add_item" %}' method='post' enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-10 form-group">
    <label>Item Name:</label>
    <input class='form-control' type='text' name='name'>
  </div>
  <div class="col-10 form-group">
    <label>Item Description:</label>
    <textarea class='form-control' name="description" rows="8" cols="80"></textarea>
  </div>
  <div class="col-10 form-group">
    <label>Price:</label>
    <input class='form-control' type='text' name='price'>
  </div>
  <div class="col-10 form-group">
    <label>Units:</label>
    <input class='form-control' type='text' name='units'>
  </div>
  <div class="col-10 form-group">
    <label>Category:</label>
    <select class='form-control' name='category'>
      {% for category in categories %}
        <option value="{{category}}">{{category}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-10 form-group">
    <label>Image:</label>
    <input class='form-control' type='file' name='image'>
  </div>
  <button class='btn btn-default' type="submit" name="button">Add Item</button>
</form>
{% endblock %}
