{% extends 'layout.html' %}

{% block title %}Item{% endblock %}

{% block content %}
	<div class="row">
		<a href="/" style="display: inline-block;"><h5>Home</h5></a>
		<a href="/browse/{{item.category}}" style="display: inline-block;"><h5>##Category##</h5></a>
		<a href="/cart" style="display: inline-block;"><h5>Cart</h5></a>
		<a href="/user" style="display: inline-block;"><h5>User Account</h5></a>
	</div>
	<div class="row align center">
		{% for m in messages %}
		<h1>{{m}}</h1>
		{% endfor %}
		<h4>{{item.name}}</h4>
		<h5>Units {{items_left}} out of {{item.units}}</h5>

		{% load static %}
		<img src="{{item.image}}" alt="{{item.name}}">
		<h4>Price:${{item.price}}</h4>
		<h4>Item Rating: {{item.rating.average__rating}}</h4>
		<p>{% if not r == 0 %}Update your rating of product{% endif %}</p>
		<form method="POST" action="/add_rating">
		{% csrf_token %}
				<p style="display: inline-block;">
  					<input name="rating" type="radio" id="rating1" value="1" {%if r.rating == 1%} checked="checked" {%endif%}/>
  					<label for="rating1">*</label>
				</p>
				<p style="display: inline-block;">
    				<input name="rating" type="radio" id="rating2" value="2" {%if r.rating == 2%} checked="checked" {%endif%}/>
    				<label for="rating2">**</label>
  			</p>
  			<p style="display: inline-block;">
    				<input name="rating" type="radio" id="rating3"  value="3" {%if r.rating == 3%} checked="checked" {%endif%} />
    				<label for="rating3">***</label>
  			</p>
  			<p style="display: inline-block;">
    				<input name="rating" type="radio" id="rating4" value="4" {%if r.rating == 4%} checked="checked" {%endif%} />
    				<label for="rating4">****</label>
 				</p>
 				<p style="display: inline-block;">
    				<input name="rating" type="radio" id="rating5"  value="5" {%if r.rating == 5%} checked="checked" {%endif%} />
    				<label for="rating5">*****</label>
 				</p>
 				<input type="hidden" name="hidden" value="{{item.id}}">
				<input type="submit" name="submit" value="Submit Rating">
			</form>
		<p>{{item.description}}</p>
		{% for d in discussion %}
			<h6 class="bold">{{d.user_id.first_name}}</h6>
			<h6 class="thin">{{d.created_at|date}}</h6>
			<p>{{d.discussion}}</p>
		{% endfor %}
		<form action="" method="POST">
			<label for="discussion">Add Discussion</label>
			<textarea name="discussion"></textarea>
			<input type="submit" name="submit" value="Add Discussion">
		</form>
{% endblock %}
