{% extends 'layout.html' %}

{% block title %}Item{% endblock %}
{% load staticfiles %}

{% block static %}
<script src="{% static 'items/js/stars.js' %}" charset="utf-8"></script>
{% endblock %}

{% block content %}
	<div class="row align center" style="margin-bottom: 70px;">
		{% for m in messages %}
		<h1 style="color: red;">{{m}}</h1>
		{% endfor %}
		<div class="itemInfo">
			<h4>{{item.name}}</h4>
			{% if items_left == 0 %}
			<h5 style="color: red;">SOLDOUT!!</h5>
			{%else%}
			<h5>Units {{items_left}} out of {{item.units}}</h5>
			{% endif %}
			{% load static %}
			<img src="{{item.image}}" alt="{{item.name}}">
		</div>
		<h4>Price:${{item.price}}</h4>
		<form method="POST" action="/add_cart/{{item.id}}">
		{% csrf_token %}
			<select name="quantity">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<button class='btn btn-success' type="submit">Add to cart</button>
		</form>
		<h4>Average Rating: {{rating_avg.rating__avg}}</h4>

		{% if not r %}
		<div class="starsDiv">
			<span id='hidden'>{{ item.id }}</span>
			<span id='1' class="glyphicon glyphicon-star-empty"></span>
			<span id='2' class="glyphicon glyphicon-star-empty"></span>
			<span id='3' class="glyphicon glyphicon-star-empty"></span>
			<span id='4' class="glyphicon glyphicon-star-empty"></span>
			<span id='5' class="glyphicon glyphicon-star-empty"></span>
			<small>  (Click star to submit rating)</small>
		</div>
		{% endif %}
		<p>{{item.description}}</p>
		<div id="chart_div"></div>
			<form action="/add_discussion" method="POST">
			{% csrf_token %}
				<label for="discussion">Add Discussion</label>
				<textarea class="form-control" name="discussion"></textarea>
				<input type="hidden" name="hidden_id" value="{{item.id}}">
				<button class='btn btn-default' type="submit">Submit</button>
			</form>
			{% for d in discussion %}
				<h6>{{d.user.first_name}}</h6>
				<h6 class="thin">{{d.created_at}}</h6>
				<p style="padding-left: 2em;">{{d.discussion}}</p>
			{% endfor %}
		</div>
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	  <script type="text/javascript">
	  	google.charts.load('current', {packages: ['corechart', 'bar']});
			google.charts.setOnLoadCallback(drawRightY);
			function drawRightY() {
				var data = {{chart_data|safe}};
    		var data = google.visualization.arrayToDataTable(data);
	      var options = {
	        chart: {
	          title: 'Items sold per hour',
	        },
	        hAxis: {
	          title: 'Items Sold',
	          minValue: 0,
	        },
	        vAxis: {
              minValue:0,
              viewWindowMode: "explicit",
              title: 'Hour',
              viewWindow: {
                  min: 0
              }
          },
	        bars: 'vertical',
	        axes: {
	          y: {
	            0: {side: 'bottom'}
	          }
	        }
	      };
	      var material = new google.charts.Bar(document.getElementById('chart_div'));
	      material.draw(data, options);
	    }
	  </script>
{% endblock %}
