<!DOCTYPE html>
<html>
	<head>
		<title>Cart</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script> 
  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<a href="/" style="display: inline-block;"><h5>Home</h5></a>
				<a href="" style="display: inline-block;"><h5>##Category/dropdown##</h5></a>
				<a href="/user" style="display: inline-block;"><h5>User Account</h5></a>
			</div>
			<div class="row">
				<h1>{{request.session.name}}'s Cart</h1>
				<table class="valign wrapper striped">
        			<thead>
          				<tr>
          					<th></th>
              				<th>Item Name</th>
              				<th>Category</th>
              				<th>Price</th>
              				<th>Rating</th>
              				<th></th>
          				</tr>
        			</thead>
        			<tbody>
        			{% for i in cart %}
          				<tr>
          					<td><img src="http://lorempixel.com/40/20/"></td>
            				<td>{i.name}</td>
            				<td>{i.category}</td>
            				<td>{i.price}</td>
            				<td>{rating.rating}</td>
            				<td><a href="/delete/##id" class="red-text"><i class="material-icons">remove_shopping_cart</i></a></td>
          				</tr>
          			{% endfor %}	
       				</tbody>
      			</table>
      			<a class="waves-effect waves-light btn green" href="/checkout">Checkout</a>
			</div>
		</div>
	</body>
</html>

