<!DOCTYPE html>
<html>
	<head>
		<title>Checkout</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div class="container">
		<h1>Your Cart</h1>
		{% for item in cart_items %}
		  <p>{{ item.name }}</p>
		  <p>{{ item.price}}</p>
		{% endfor %}
		<form method="post">
		  {% csrf_token %}
		  {% for field in form %}
		    <div>{{ field.label_tag }} {{ field }}</div>
		    {% if field.errors %}
		    <div class="error">{{ field.errors }}</div>
		    {% endif %}
		  {% endfor %}
		  {% if form.non_field_errors %}
		  <div class="error">
		    <ul>
		      {% for err in form.non_field_errors %}
		        <li>{{ err }}</li>
		      {% endfor %}
		    </ul>
		  </div>
		  {% endif %}
		  <button type="submit" name="button">Purchase</button>
		</form>
		<h1>Purchase History</h1>
		{% for item in purchased_items %}
		  <p>{{ item.name }}</p>
		  <p>{{ item.price}}</p>
		{% endfor %}
		</div>
	</body>
</html>
