/* GENERAL */
* {
    margin:0;
    padding:0;
}
.wrapper{
  margin-top: 100px;
}

/* NAVBAR */
.navbar-fixed-top{
  height:60px;
  width: 100%;
}
.panel-heading, .jumbotron{
  text-align: center;
}



/* FOOTER */
footer{
  background: #F8F8F8;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  color: #777777;
}
.error{
  color: red;
  font-size: 18px;

}
.success{
  color: green;
  font-size: 18px;
}

/* HOME PAGE */
.layout{
  min-height: calc(100vh - 60px);
}

/* BROWSE PAGE */
.item{
  border: 1px solid #F8F8F8;
  padding: 0px !important;
  height: 330px;
  text-align: center;
}
.panel-body p{
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  left: 42%
}

/* PROFILE PAGE */
tr td{
  vertical-align: middle !important;
}
